html, body, #root{
  height: 100%;
  background-color: #000000;
}

#root{
  display: grid;
  grid-template-rows: 56px 1fr 200px;
}

h1{
  display: none;
}

.sombra{
  text-shadow: 1px 1px 1px black;
}

section{
  margin: 100px 0;
}

.table{
  width: 70vw;
  margin: auto;
}

.alert{
  font-weight: 500;

}